---
import MainLayout from "../../layouts/MainLayout.astro";

import type { GetStaticPaths } from "astro";
import Image from "astro/components/Image.astro";
import { getCollection, CollectionEntry, getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug as string);

if ( !post ) {
  return Astro.redirect('/404');
}

// export const getStaticPaths = (async () => {
//   const posts = await getCollection("posts");
//   const paths = posts.map(post => {
//     return {
//       params: {
//         slug: post.slug
//       },
//       props: {
//         post
//       }
//     }
//   })
// // }  
//   return paths;
// }) satisfies GetStaticPaths;

// type Props = {
//   post: CollectionEntry<"posts">
// }

// const {post} = Astro.props;
const {Content} = await post.render();
---

<MainLayout
  title={post.data.title}
  description="We build privacy-focused websites, visual identities, and digital assets to solidify brand authority and trust across platforms. All while protecting your users' privacy."
  og_image="https://astropost.io/images/opengraph.png"
  og_url="https://astropost.io/blog/"
>

  <section>
    <h1>{post.data.title}</h1>
    <Image
            src={post.data.image}
            alt={post.data.title}
            width={600}
            height={600 / 1.5}
            format="webp"
            class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
        />
        <Content />
  </section>

</MainLayout>